<appSettings>
  <add key="URL" value="http://automationpractice.com"/>
  <add key="TestDataSheetPath" value="D:\Visual Project\Automationpractice\Automationpractice\TestDataAccess\TestData.xlsx"/>
  <add key="firstname" value="Aleksey"/>
  <add key="lasttname" value="Pobol"/>
  <add key="email" value="test3@mail.com"/>
  <add key="password" value="aleksey96"/>
</appSettings>

